body {
    background-color: aqua;
}

#navbar_1 {
    color: #008000;
}

#food_1 {
    width: 40px;
    height: 40px;
}

.wrapper .button_wrap #hungry_btn #food_img {
    width: 200px;
    height: 200px;
}

.wrapper .button_wrap #thirsty_btn #water_img {
    width: 200px;
    height: 200px;
}

