body {
    background-color: aqua;
    font: normal 16px Arial, Helvetica, Sans-serif;
    line-height: 1.4em;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover{
        background-color: #f9f9f9;
        border-radius: 15px;
        
}
a:active{
    background-color: #ffff00;
}

nav ul {
    background-color: #f9f9f9;
    padding: 20px;
    list-style: none;
    text-align: center;
}
nav li {
    display: inline;
    background-color: yellow;
    font-size: 20 px;
    padding: 20px;
    margin: 10px;
}

.wrapper {
    width: 80%;
    margin: auto;
}
#contact_form {
    padding:10px;
    background-color: #C0C0C0;
    width: 300px;
    float: left;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    /* find way to remove text from box when u select it */
}
.form_group {
    padding-bottom: 4px;
}

.text_box_1 {
    background-color: #f9f9f9;
    color: #800080;
    border: 5px #C0C0C0 solid;
    padding: 10px;
    margin: 20px 0px;
}
.text_box_1 a:active{
    background-color: #f9f9f9;
}
.text_box_2 {
    background-color: #f9f9f9;
    color: #800080;
    border: 5px #C0C0C0 solid;
    padding: 10px;
    margin: 20px 0px;
    float: right;
    width: 300px;
}
.text_box_2 h1 {
    /*change spacing + link colors*/
}



.button_wrap img {
    
    float: left;
    width: 20%;
    height: 150px;
}

.btn {
    position: absolute;
}

